@import 'partials/colors';

body {
  padding-top: 70px; }

body.rtl .radio input[type="radio"],
body.rtl .radio-inline input[type="radio"],
body.rtl .checkbox input[type="checkbox"],
body.rtl .checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
}

body.user_create div.captcha_image {
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
}